*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    background: darkblue;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 200%;
    color: black;
    background: darkblue;
    position: absolute; 
    z-index: none;
    padding: none;
    display: none;
}
ul li a:hover{
    background: green;
}
ul li:hover ul.dropdown{
    display: block;
}
